
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background:#fff;
}

.top {
  flex: 0;
  position:sticky;
  top: 0;
}

.body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: solid 1px var(--adm-color-border);
  z-index:999;
}